[submodule "Become the Contract’s Owner/lib/forge-std"]
	path = Become the Contract’s Owner/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Sail Away!/lib/forge-std"]
	path = Sail Away!/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Is it over/lib/forge-std"]
	path = Is it over/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "VulnerableMarket/lib/forge-std"]
	path = VulnerableMarket/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "VulnerableMarket/lib/openzeppelin-contracts"]
	path = VulnerableMarket/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
